.fave-section {
    display: inline-flex;
    
}

.fave { 
    // flex: 1;
    @include addPadding(10px);

    .name, .info, .bio { margin: auto; }

    img { max-width: 90%; }

}

.hidden {
    display: none;
}

@media screen and (min-width: 768px) {
    .user { flex: 1; }
    .user img { max-width: 150px; }
    
}

@media screen and (max-width: 768px) {
   .fave-section{flex-wrap: wrap;}
}